package view

templ Guest() {
	<nav>
		<a href="/login" hx-get="/login" hx-swap="innerHTML" hx-target="#root">Login</a>
		<a href="/register" hx-get="/register" hx-swap="innerHTML" hx-target="#root">Register</a>
	</nav>
}
